/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
/addOrg3/fabric-ca/org3/msp/*
/addOrg3/fabric-ca/org3/ca-cert.pem
/addOrg3/fabric-ca/org3/fabric-ca-server.db
/addOrg3/fabric-ca/org3/IssuerPublicKey
/addOrg3/fabric-ca/org3/IssuerRevocationPublicKey
/addOrg3/fabric-ca/org3/tls-cert.pem
/addOrg4/fabric-ca/org4/msp/*
/addOrg4/fabric-ca/org4/ca-cert.pem
/addOrg4/fabric-ca/org4/fabric-ca-server.db
/addOrg4/fabric-ca/org4/IssuerPublicKey
/addOrg4/fabric-ca/org4/IssuerRevocationPublicKey
/addOrg4/fabric-ca/org4/tls-cert.pem
/addOrg5/fabric-ca/org5/msp/*
/addOrg5/fabric-ca/org5/ca-cert.pem
/addOrg5/fabric-ca/org5/fabric-ca-server.db
/addOrg5/fabric-ca/org5/IssuerPublicKey
/addOrg5/fabric-ca/org5/IssuerRevocationPublicKey
/addOrg5/fabric-ca/org5/tls-cert.pem
/addOrg6/fabric-ca/org6/msp/*
/addOrg6/fabric-ca/org6/ca-cert.pem
/addOrg6/fabric-ca/org6/fabric-ca-server.db
/addOrg6/fabric-ca/org6/IssuerPublicKey
/addOrg6/fabric-ca/org6/IssuerRevocationPublicKey
/addOrg6/fabric-ca/org6/tls-cert.pem
system-genesis-block/*
*.tar.gz
log.txt
